__pycache__/*
Translator/__pycache__/*
Cafe-Auto-Uploader/UserDatas.json
Cafe-Auto-Uploader/chromedriver.exe
Cafe-Data/Cafe-Title/UserDatas.json
Cafe-Data/Cafe-Title/chromedriver.exe
Cafe-Data/Cafe-Title/Output.json
Cafe-Data/Playcity-Block-Map/UserDatas.json
Cafe-Data/Playcity-Block-Map/chromedriver.exe